NODE_ENV=development
PORT=3003
# DATABASE_URL=./SiempreBonitasApp.db
CORS_ORIGIN=http://localhost:5173
# # Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
# DATABASE_URL="postgresql://postgres.legnszdimerhpodmvsvl:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# # Connect to Postgres via the shared session-mode pooler (used for migrations)
# DIRECT_URL="postgresql://postgres.legnszdimerhpodmvsvl:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"